:root{
   /* Colors (hue = 202)*/
   --bg: hsl(202 10% 92%);
   --surface:  hsl(202 65% 86%);
   --surface-dark: hsl(202 65% 76%);
   --accent: hsl(202 84% 54%);
   --accent-dark: hsl(202 84% 40%);
   --text: hsl(202 84% 10%);
   --navbar: hsl(202 65% 86% / 0.7);
   --navbar-dark: hsl(202 65% 76% / 0.5);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Inter', system-ui, -apple-system, sans-serif;
   justify-content: center;
}

body {
   background: var(--bg);
   color: var(--text);
   max-width: 50rem;
   margin: auto;
}

div {
   display: block;
}

#content {
   padding-top: 100px;
}

.navbar {
   position: fixed;
   top: 24px;
   left: 50%;
   transform: translateX(-50%);
   width: min(50rem, 100vw - 48px);
   background: var(--navbar);
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
   border: 1px solid var(--text);
   border-radius: 16px;
   z-index: 1000;
   overflow: hidden;
}
.navbar * {
   display:flex;
   flex:1;
}

.navbar a {
   color: var(--text);
   text-decoration: none;
   padding: 24px;
}

.navbar a:hover {
   background: var(--navbar-dark);
}

.navbar ul {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

canvas {
   overflow-clip-margin: content-box;
   overflow: clip;
}

.five-one {
   aspect-ratio: 16 / 9;
}

.five-one canvas {
   width: 100%;
   height: 100%;
   display: block;
   cursor:grab;
   border-radius: 16px;
}